target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Large Files ###
src/main/java/homework1/raw_phonebook_data.csv
src/main/java/homework1/sorted_phonebook_data.csv
src/main/java/homework1/sorted_phonebook_data_by_city.csv
src/main/java/homework1/sorted_phonebook_data_by_country.csv
src/main/java/homework1/sorted_phonebook_data_by_phone_number.csv
src/main/java/homework1/sorted_phonebook_data_by_postcode.csv
src/main/java/homework1/sorted_phonebook_data_by_street_address.csv
src/main/java/week3/labTask/IP2LOCATION.csv